body{
    background-size: cover;    
    background-repeat: no-repeat;
    text-align: center
    
}

body {
  background: url('http://1.bp.blogspot.com/-loVL8r5T7FE/Uk9B0aPSsKI/AAAAAAAAbSc/istm6z-kyiU/s1600/knowledge-is-power1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
  color:red;
}

#child{
  color:red;
}

#adult{
  color:red;
}